## Problem Statement

Output variable -> y
y -> Whether the client has subscribed a term deposit or not 
Binomial ("yes" or "no")

### Import Libraries

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

### Import Data

In [32]:
bank=pd.read_csv('..\\may 5 batch codes\\Data files\\bank-full.csv',sep=';')
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

### Data Understanding

In [33]:
bank.shape

(45211, 17)

In [34]:
bank.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [35]:
bank.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [36]:
bank['job'].value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [37]:
bank['marital'].value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [38]:
bank['education'].value_counts()

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

In [39]:
bank['default'].value_counts()

no     44396
yes      815
Name: default, dtype: int64

In [40]:
bank['housing'].value_counts()

yes    25130
no     20081
Name: housing, dtype: int64

In [41]:
bank['loan'].value_counts()

no     37967
yes     7244
Name: loan, dtype: int64

In [42]:
bank['contact'].value_counts()

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

In [43]:
bank['month'].value_counts()

may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64

In [44]:
bank['poutcome'].value_counts()

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64

In [45]:
bank['y'].value_counts()

no     39922
yes     5289
Name: y, dtype: int64

In [46]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [50]:
from sklearn.preprocessing import LabelEncoder
bank['job']=LabelEncoder().fit_transform(bank[['job']])
bank['marital']=LabelEncoder().fit_transform(bank[['marital']])
bank['education']=LabelEncoder().fit_transform(bank[['education']])
bank['default']=LabelEncoder().fit_transform(bank[['default']])
bank['housing']=LabelEncoder().fit_transform(bank[['housing']])
bank['loan']=LabelEncoder().fit_transform(bank[['loan']])
bank['contact']=LabelEncoder().fit_transform(bank[['contact']])
bank['month']=LabelEncoder().fit_transform(bank[['month']])
bank['poutcome']=LabelEncoder().fit_transform(bank[['poutcome']])
bank['y']=LabelEncoder().fit_transform(bank[['y']])

In [51]:
bank.dtypes

age          int64
job          int64
marital      int64
education    int32
default      int32
balance      int64
housing      int32
loan         int32
contact      int32
day          int64
month        int32
duration     int64
campaign     int64
pdays        int64
previous     int64
poutcome     int32
y            int32
dtype: object

In [52]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

### Model Building

In [53]:
X=bank.drop('y',axis=1)

In [54]:
y=bank['y']

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=12,shuffle=True)

### Model Training || Model Testing

In [58]:
from sklearn.linear_model import LogisticRegression
logistic_model=LogisticRegression().fit(X_train,y_train)

In [59]:
y_train_pred=logistic_model.predict(X_train)

In [60]:
y_test_pred=logistic_model.predict(X_test)

In [61]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

### Model Evaluation

In [62]:
accuracy_score(y_train,y_train_pred)

0.8869719088697191

In [63]:
accuracy_score(y_test,y_test_pred)

0.8893066460245493

In [65]:
print(classification_report(y_train,y_train_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     31929
           1       0.56      0.17      0.26      4239

    accuracy                           0.89     36168
   macro avg       0.73      0.58      0.60     36168
weighted avg       0.86      0.89      0.86     36168

In [66]:
print(classification_report(y_test,y_test_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94      7993
           1       0.57      0.19      0.28      1050

    accuracy                           0.89      9043
   macro avg       0.74      0.58      0.61      9043
weighted avg       0.86      0.89      0.86      9043

In [67]:
confusion_matrix(y_train,y_train_pred)

array([[31354,   575],
       [ 3513,   726]], dtype=int64)

In [68]:
confusion_matrix(y_test,y_test_pred)

array([[7846,  147],
       [ 854,  196]], dtype=int64)

### Model Deployment

In [69]:
from pickle import dump
from pickle import load

In [70]:
dump(obj=logistic_model,file=open('logistic_intelligence.pkl','wb'))

In [71]:
loaded_file=load(file=open('logistic_intelligence.pkl','rb'))

In [72]:
loaded_file.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

## End